<section id="header">
  <div class="profile">
    <img src="assets/prof.png" alt="Profile Pic" />
    <div class="profile-background"></div>
  </div>
  <div class="name">Michael Elisha</div>
  <div class="nav-bar" appActiveNav>
    <a class="active" [routerLink]="'/about'">About</a>
    <!-- <a class="" [routerLink]="'/social'">Social</a> -->
    <!-- <a class="" [routerLink]="'/skills'">Skills</a> -->
    <a class="" [routerLink]="'/recommendations'">Recommendations</a>
    <a class="" [routerLink]="'/experience'">Experience</a>
    <a class="" [routerLink]="'/projects'">Projects</a>
  </div>
  <div class="line-wrap">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</section>
