<section>
  <div class="side-bar">
    <ul>
      <li (click)="changeGame($event.target)">Pig Game</li>
      <li (click)="changeGame($event.target)">XO Game</li>
      <li (click)="changeGame($event.target)">Landing page</li>
    </ul>
  </div>

  <div class="monitor-app"></div>
  <iframe
    class="pig"
    src="https://michaelelisha1988.github.io/100_game/"
    frameborder="0"
  ></iframe>
  <iframe
    class="xo"
    src="https://michaelelisha1988.github.io/XO_Game/"
    frameborder="0"
  ></iframe>
  <iframe
    class="landing-page"
    src="https://michaelelisha1988.github.io/ElisVacation.github.io/"
    frameborder="0"
  ></iframe>
</section>
