<section id="footer">
  <div class="second-line">
    <div class="socials">
      <a href="https://www.facebook.com/molotovmisha/" target="_blank"
        >Facebook</a
      >
      <a
        href="https://www.linkedin.com/in/michael-elisha-%F0%9F%A7%AD-b390b6168/"
        target="_blank"
        >LinkedIn</a
      >
    </div>
    <div class="circ-list">
      <div class="circ" *ngFor="let i of dummyArray"></div>
    </div>
  </div>
  <div class="first-line">
    <div class="left">made by Michael Elisha</div>
    <div class="right"><span>&#169;</span> 2023 Israel, All right reserved</div>
  </div>
</section>
